aqua-installer
.bin/aqua-installer
files/.local/state/**
files/.local/share/nvim
files/.local/share/aquaproj-aqua/**
files/.local/share/sheldon/**
files/.local/share/rtx/**
files/.local/share/direnv/**
files/.config/configstore/**
files/.config/zsh/.zshrc.local
files/.config/zsh/.zshenv.local
files/.local/bin/**
files/.local/lib/**
files/.config/coc/extensions/node_modules
files/.config/nvim/plugin/**
files/.config/starship.toml
files/.local/share/delta/**
files/.config/git/profiles
files/.config/wslu/**
files/.config/.nlav/**
files/.config/composer/**
files/.config/gh/**
files/.config/github-copilot
files/.local/share/composer/**
files/.local/share/gh/**
