aqua-installer
.bin/aqua-installer
files/.local/state/**
files/.local/share/nvim
files/.local/share/aquaproj-aqua/**
files/.local/share/sheldon/**
files/.local/share/mise/**
files/.local/share/direnv/**
files/.local/share/cspell/**
files/.config/configstore/**
files/.config/zsh/.zshrc.local
files/.config/zsh/.zshenv.local
files/.local/lib/**
files/.config/coc/extensions/node_modules
files/.config/coc/extensions/coc-json-data
files/.config/nvim/plugin/**
files/.config/starship.toml
files/.local/share/delta/**
files/.local/share/fonts/**
files/.config/git/profiles
files/.config/wslu/**
files/.config/.lnav/**
files/.config/composer/**
files/.config/gh/**
files/.config/github-copilot
files/.local/share/composer/**
files/.local/share/gh/**
files/.config/intelephense/licence.txt
files/.config/gh-copilot/**
files/.config/psysh/psysh_history
