aqua-installer
.bin/aqua-installer
files/.local/state/**
files/.local/share/nvim
files/.local/share/aquaproj-aqua/**
files/.local/share/sheldon/**
files/.local/share/rtx/**
files/.config/configstore/**
files/.config/zsh/.zshrc.local
files/.config/zsh/.zshenv.local
