[credential "https://github.com"]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://gist.github.com"]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[core]
	editor = code --wait
[sequence]
	editor = code --wait
[rebase]
  autoSquash = true
  autoStash = true
[commit]
  verbose = true
[fetch]
  prune = true
[push]
  default = simple
[user]
  useConfigOnly = true
