[Unit]
Description = demonize named pipe to xdg-open
After=local-fs.target
ConditionPathExists=/run/user/1000

[Service]
ExecStart=/run/user/1000/browser-pipe-handler
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
