[Unit]
Description = demonize named pipe to xdg-open
After=local-fs.target
ConditionPathExists=/usr/local/bin

[Service]
ExecStart=/usr/local/bin/browser-pipe-handler
Restart=no
Type=simple

[Install]
WantedBy=default.target
